.foodContainer{
    display: flex;

    justify-content: space-between;

    background-color: #F3F1F1;

    padding-left: 2rem;

    width: 30vw;
    height: 20vh;
    margin-bottom: 1rem;
}

.foodContainer-right img{
    height: 100%;

}